/***** Container *****/
#main_container { /* contain panel_container and content_container */
	max-width: 1600px;
	margin: 0px auto;
}
#panel_container {
	float: left;
	width: 15%;
	background: #AAAAAA; 
	height: 100%;
}
#content_container { /* contain top_content and content ahahaha */
	background: #DDDDDD;
	height: auto;
}
/*****Panel elements*****/
.panelElement {
	float: left;
	width: 85%; 
	height: auto;
	margin-top: 5px;
	margin-left: 5%;
	margin-top: 5%;
}
/*****Top content element*****/
.topContent {
	float: right;
	width: 80%;
	height: auto;
	margin-right: 1%;
	margin-top: 1%;
	font-size: 25px;
}
/*****Content elements*****/
.content {
	float: right;
	width: 80%;
	height: 25%;
	max-height: 300px;
	margin-right: 1%;
	margin-top: 1%;
	background: #FFFFFF; 
	border: 1px solid black;
	
}
.content_header {
	width: auto;
	margin-left: 1%;
	margin-top: 1%;
	height: auto%;
	background: #FFFFFF; 
	font-weight: bold;
	font-size: 20px;
}
.content_image {
	display: block;
	width: 10px !important;
	height: auto !important;
	float: left;
	margin-left: 1%;
	margin-top: 1%;
	background: #FFFFFF; 
}
.content_text {
	width: 100%;
	height: auto;
	white-space: pre;
	background: #FFFFFF; 
}