/*** Other ***/
.fixedMenu {
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
}
.fixedPanelContainer {
	position: fixed;
	right: 0;
	top: 40px;
	left: 0;
}
.fixedMainContainer {
	margin-top: 40px;
}

a:link, a:visited {
	background-color: #f44336;
	color: white;
	width: 100%;
	padding: 10px 0px 10px 0px;
	text-align: center; 
	text-decoration: none;
	display: inline-block;
}

@media(max-width: 1024px) {
	#panel_container {
		display: none;
	}
	#content_container {
		margin-left: 0 !important;
	}
	#top_container {
		max-height: none;
		height: auto;
	}
	#top_header {
		height: 100px;
	}
	#menu_container {
		height: 120px;
	}
	.fixedMainContainer {
		margin-top: 120px;
	}
	.menuElement{
		float: none;
		max-width: none;
		width: 100%;
	}
	.content {
		margin-left: 1% !important;
		width: 98%;
	}
	.topContent {
		margin-right: 1% !important;
		width: 98%;
	}
	.fixedPanelContainer {
		position: fixed;
		right: 0;
		top: 120px;
		left: 0;
	}
}